#include <iostream>
#include <string>
using namespace std;
int main() 

{
	string name;
	cout << "What is Your name?\n";
	cin >> name;
	cout << "Hello " << name << "!" << endl << endl;
	system ("pause");
	
	cout<< "\n How old are You?" << endl;
	int age;
	cin >> age;
	cout << "You are " << age << " years old," << endl; 
	cout << "It's good age :)" << endl << endl; 
	system ("pause");
	
	cout << "\n Where Are You from?\n";
	string place;
	cin >> place;
	cout << place << " it's a beautiful place! \n \n";
	system ("pause");
	
	cout << "\n What's your eyes color?" << endl;
	string kolor;
	cin >> kolor;
	cout << "\n You have " << kolor << " eyes?" << " It's amazing!!! \n \n";
	system ("pause");
	
	return 0;
}
